In [2]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 250)
%matplotlib inline

1-1. filetest.txt 파일을 오픈하고 읽어서 txt_t1 스트링 변수에 저장하고 출력하세요.

In [53]:
with open("../DATA/filetest.txt", encoding='utf8') as f:
    txt_t1 = f.readlines()

print(type(txt_t1[0]))
for i in txt_t1:
    print(i)
print(len(txt_t1))

<class 'str'>
홍길동-202001001

aa이순신-202001002

강감찬-202001003

이성계-202001004

bv을지문덕-202001005

연개소문-202001006

안중근-202001007

cx김구-202001008

정도전-202001009

이황-202001010

유재석-202001011

박명수-202001012

정준하-202001013

qe정형돈-202001014

노홍철-202001015

하동훈-202001016
16

1-2. 위 파일을 오픈하고 읽어서 ls_1 리스트 변수에 저장하고 출력하세요.

In [50]:
with open("../DATA/filetest.txt", encoding='utf8') as f:
    ls_1 = f.readlines()
    
print(type(ls_1))
for i in ls_1:
    print(i)

<class 'list'>
홍길동-202001001

aa이순신-202001002

강감찬-202001003

이성계-202001004

bv을지문덕-202001005

연개소문-202001006

안중근-202001007

cx김구-202001008

정도전-202001009

이황-202001010

유재석-202001011

박명수-202001012

정준하-202001013

qe정형돈-202001014

노홍철-202001015

하동훈-202001016

1-3. 위 파일에서 이름 앞의 영문자를 정규식을 이용하여 제거하세요.

In [56]:
import re


ls_1_rm = []
for i in ls_1:
    text = re.sub("[a-zA-Z]", "", i)
    ls_1_rm.append(text.strip())

for i in ls_1_rm:
    print(i)

홍길동-202001001
이순신-202001002
강감찬-202001003
이성계-202001004
을지문덕-202001005
연개소문-202001006
안중근-202001007
김구-202001008
정도전-202001009
이황-202001010
유재석-202001011
박명수-202001012
정준하-202001013
정형돈-202001014
노홍철-202001015
하동훈-202001016

1-4. 위 파일에서 이름과 하이픈 뒤의 학번을 분리하여 각각의 다른 리스트에 저장하세요.

In [60]:
name = []
num = []
len(ls_1_rm)

for i in ls_1_rm:
    name.append(i.split("-")[0])
    num.append(i.split("-")[1])

for i in range(len(name)):
    print(name[i], num[i])

홍길동 202001001
이순신 202001002
강감찬 202001003
이성계 202001004
을지문덕 202001005
연개소문 202001006
안중근 202001007
김구 202001008
정도전 202001009
이황 202001010
유재석 202001011
박명수 202001012
정준하 202001013
정형돈 202001014
노홍철 202001015
하동훈 202001016

1-5 각각 저장된 다른 리스트를 이용하여 데이터 프레임을 만드세요. \
   이때, 데이터 프레임에서 사용하는 인덱스는 학번이 저장된 리스트로 지정하세요.

In [63]:
df = pd.DataFrame({"학번":num, '이름':name})
df.set_index("학번")

df[0::2]
df[1::2]

             이름
학번
202001001   홍길동
202001002   이순신
202001003   강감찬
202001004   이성계
202001005  을지문덕
...         ...
202001012   박명수
202001013   정준하
202001014   정형돈
202001015   노홍철
202001016   하동훈

[16 rows x 1 columns]

1-6. 만들어진 데이터 프레임에서 학번이 홀수인 것과 짝수인 것을 각각 따로 출력하세요.

           학번    이름
0   202001001   홍길동
2   202001003   강감찬
4   202001005  을지문덕
6   202001007   안중근
8   202001009   정도전
10  202001011   유재석
12  202001013   정준하
14  202001015   노홍철

           학번    이름
1   202001002   이순신
3   202001004   이성계
5   202001006  연개소문
7   202001008    김구
9   202001010    이황
11  202001012   박명수
13  202001014   정형돈
15  202001016   하동훈